.myVideo {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 200px;
    border-radius: 8px;
    z-index: 1;
}

.userVideo {
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw;
}

.buttonContainer {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}